body {
    max-width: 1700px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgb(240, 240, 240)
}

.head_1 {
    background-color: rgb(240, 240, 240)
}

img {
    height: 70px;
    width: 70px;
    margin: 20px;
}

h1 {
    text-align: center;
}

section {
    display: flex;
}

section div img {
    width: 300px;
    height: 300px;
}

section div p {
    text-align: right;
}

.picture_2 {
    text-align: right;
}

.down {
    background-color: rgb(196, 196, 196);
    height: 2px;
    width: auto;
}

.page_2 {
    margin: 50px;
}

h3 {
    text-align: center;
}