body {
    max-width: 1700px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgb(240, 240, 240)
}

.head_1 {
    background-color: rgb(240, 240, 240);
}

img {
    height: 70px;
    width: 70px;
    margin: 20px;
}

h1 {
    text-align: center;
}

section {
    display: flex;
}

.picture {
    display: flex;
}

.picture_2 {
    display: flex;
}

section div img {
    width: 300px;
    height: 300px;
}

section div p {
    text-align: right;
}

.down {
    background-color: rgb(196, 196, 196);
    height: 2px;
    width: auto;
    margin: 70px;
}

.page_2 {
    margin: 50px;
}

h3 {
    text-align: center;
    color: rgb(211, 0, 0);
}

.page_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;
}

div div img {
    width: 300px;
    height: 300px;
}

.text_2 {
    width: 300px;
}

.down_2 {
    text-align: center;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-color: rgb(117, 17, 17);
    background-color: rgb(253, 80, 80);
}